{% extends 'app/base.html' %}
{% block content %}
<center>
<div class="register-card">
<div class="card" style="width: 50rem;">
  <div class="card-body">
      {% load crispy_forms_tags %}
<center>
<form method="POST" class="account-form">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="btn btn-success" id="register-btn">Login</button>
    </form>
    </center>

  </div>
</div>
        <h1><div class="alert alert-warning">
  <strong>Dont have an account?</strong> <a href="/register">Register here!</a>
</div></h1>
</div>
</center>

{% endblock %}
