{% extends 'app/base.html' %}
{% block content %}

<center>


<div class="card" style="width: 50rem;">
  <div class="card-body">
      <a href="/profile/{{post.user.profile.pk}}"><h5 class="card-title">@{{post.user.username}}</h5></a>
    <p class="card-text">{{post.body}}</p>
    <a href="card-text" class="btn btn-primary">{{post.created_at}}</a>
      <h1>Votes: {{post.likes.all|length}}</h1>
  </div>
    <!-- Form for Liking a post and Removing a like from a post -->
     <form method-="post" id="like-form">
         {% csrf_token %}
         <button class="likes-button" type="submit" id="like" value="{{post.id}}" data-ansid="{{post.id}}">&hearts;<strong id="{{post.id}}_like_count">{{post.likes.all|length}}</strong></button>
     </form>
</div>


<div class="container">
    <div class="card">
    <div class="card-text">Comments</div>
         </div>
</div>


{% if comments %}

{% for comment in comments %}
<div class="card" style="width: 50rem;">
  <div class="card-body">
      <a href="/profile/{{comment.commenter.profile.pk}}"><h5 class="card-title">@{{comment.commenter}}</h5></a>
      <div class="card">
    <p class="card-text">{{comment.comment_content}}</p>
          </div>
    <a href="card-text" class="btn btn-primary">{{comment.comment_time}}</a>
      <h1>Votes: {{comment.likes.all|length}}</h1>
  </div>
    <!-- Form for Liking a post and Removing a like from a post -->
    <form method="post" id="comment-like-form">
         {% csrf_token %}
         <button class="comment-button" type="submit" id="comment" value="{{comment.id}}" data-id="{{comment.id}}">&hearts;<strong id="{{comment.id}}_count">{{comment.likes.all|length}}</strong></button>
     </form>

</div>
{% endfor %}
{% else %}

<h1>No Comments at this time</h1>
{% endif %}



<div class="col">
    {% load crispy_forms_tags %}
    <form method="post" id="commentForm">
        {% csrf_token %}
        {{ form | crispy}}
        <button class="btn btn-default"
                type="submit">Comment
        </button>
    </form>
</div>

</center>

{% endblock %}