{% extends 'app/base.html' %}
{% block content %}

<!-- View everyone a user is followed by  -->

<div class="card">
        <h3 class="card-title" style="font-size: large">
            {{profile.user.username}} is followed by:
        </h3>
        <div class="card">

            {% for following in profile.followed_by.all %}

                    <a href="/profile/{{following.id}}">
                        {{ following }}
                    </a>

            {% endfor %}

        </div>
    </div>


{% endblock %}